{% extends "base.html" %}

{% block content %}
    <!-- <h1>Hi, {{ current_user.username }}!</h1> -->
    {% if form %}
    <h5>  Hello {{ current_user.username }}, you can post new property here</h5>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% else %}
    <h4> Explore available properties posted </h4>
    {% endif %}
    
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}
